<h4>ID</h4>{{input value=id}}
<h4>Title</h4>{{input value=title}}
<h4>Date</h4>
<h4>Content</h4>{{input value=content}}

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Update Journal Entry
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
