{{input value=title}}
{{input value=content}}
{{input value=starred}}

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Create Journal Entry
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
