{{input type='hidden' value=journalEntry.id}}
<h4>Title</h4>{{input value=journalEntry.title}}
<h5>{{journalEntry.updated_at}}</h5>
<h4>Content</h4>{{textarea class='journal-input' value=journalEntry.content}}

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Update Journal Entry
</button>

<button class="btn btn-default" {{action "cancel"}}>
  Cancel
</button>
