{{input type='hidden' value=journalEntry.id}}
<h4></h4>{{input value=journalEntry.title placeholder='Add Title' class='journal-title'}}
<h5>Last Updated {{journalEntry.updated_at}}</h5>
<h4></h4>{{textarea class='journal-input' value=journalEntry.content placeholder='Add content here'}}

<div class='text-center'>
  <button type="submit" class="btn btn-primary" {{action "submit"}}>
    Update Journal Entry
  </button>

  <button class="btn btn-default" {{action "cancel"}}>
    Cancel
  </button>
</div>
