{{left-nav-blank}}

<div class='everything'>

{{#bs-navbar as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
  </div>
  {{#navbar.content class='navbar-right'}}
    {{#navbar.nav as |nav|}}
      {{#if isAuthenticated}}
        {{#nav.item}}{{#nav.link-to "journal"}}Journal{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "columns"}}Columns{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "arrows"}}Arrows{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "exposures"}}Exposures{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "workouts"}}Workouts{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "change-password"}}Change Password{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}<a href="#" {{action "signOut"}}>Sign Out</a>{{/nav.item}}
      {{else}}
        {{#nav.item}}{{#nav.link-to "sign-up"}}Sign Up{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "sign-in"}}Sign In{{/nav.link-to}}{{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
</div>
