<select id='routine-select' onchange={{action selectRoutine value="target.value"}}>
  {{#each model.routines.routines as |routine|}}
    <option value={{routine.name}} selected={{eq routine routineChoice}}>{{routine.name}}</option>
  {{/each}}
</select>

<ul>
{{#each model.routines.routines as |routine|}}
  <li>{{routine.name}}</li>
{{/each}}
</ul>

{{!-- <ul>
  {{view "select" content=#each model.routines.routines }}
</ul> --}}

<ul>
  <li>The name is</li>
  <li>{{model.workout.workout.name}}</li>
</ul>

{{!-- <div id="routines-list" class='routines-list-container'>
  <div class='routines-list-heading text-center'>
    <h3>Routines</h3>
  </div>
  <table id='routines-table' class='table table-striped'>
    <thead>
      <tr>
        <th id='routine-name-heading'></th>
      </tr>
    </thead>
    <tbody id='routines-table-body'>
    {{#each routines as |routine|}}
      <td>{{input value=routine.name}}</td>
    {{/each}}
  </tbody>
  </table>
</div> --}}
