{{left-nav}}

{{journal-form submit="updateJournalEntry" cancel='cancel' journalEntry=model}}


{{!-- <ui>
  <li>Title: {{model.title}}</li>
  <li>ID: {{model.id}}</li>
  <li>Content: {{model.content}}</li>
</ui> --}}
