{{left-nav}}

{{!-- {{get-journal-entries-form submit='getJournalEntries'}} --}}

<div id="journal-list" class='journal-list-container'>
  <h3>Journal Entries</h3>
  <table id='journal-table' class='table table-striped'>
    <thead>
      <tr>
        <th id='starred-heading'>Starred</th>
        <th id='id-heading'>id</th>
        <th id='title-heading'>Title</th>
        <th id='date-created-heading'>Date Created</th>
        <th id='update-heading'>Update</th>
        <th id='delete-heading'>Delete</th>
      </tr>
    </thead>
    <tbody id='journal-table-body'>
    {{#each model as |journalEntry|}}
      <tr class="file-row" data-id="{{journalEntry.id}}">
      <td>{{journalEntry.starred}}</td>
      <td>{{journalEntry.id}}</td>
      <td>{{journalEntry.title}}</td>
      <td>{{journalEntry.dateCreated}}</td>
      <td><button {{action "updateEntry"}}>Update</button></td>
      </tr>
    {{/each}}
  </tbody>
  </table>
</div>
