{{left-nav}}

{{!-- {{get-journal-entries-form submit='getJournalEntries'}} --}}

<div id="journal-list" class='journal-list-container'>
  <div class='journal-list-heading'>
    <h3>Journal Entries</h3>
  </div>
  <table id='journal-table' class='table table-striped'>
    <thead>
      <tr>
        {{!-- <th id='starred-heading'>Starred</th> --}}
        <th id='id-heading' class='table-heading' {{action 'sortTableById'}}>ID</th>
        <th id='date-created-heading' class='table-heading' {{action 'sortTableByDate'}}>Last Updated</th>
        <th id='title-heading' class='table-heading' {{action 'sortTableByTitle'}}>Title</th>
        <th id='update-heading' class='table-heading'>Update</th>
        <th id='delete-heading' class='table-heading'>Delete</th>
      </tr>
    </thead>
    <tbody id='journal-table-body'>
    {{#each model as |journalEntry|}}
      <tr class="file-row" data-id="{{journalEntry.id}}">
      {{!-- <td>{{journalEntry.starred}}</td> --}}
      <td class='text-center'>{{journalEntry.id}}</td>
      <td class='text-center'>{{journalEntry.updated_at}}</td>
      <td class='text-center'>{{journalEntry.title}}</td>
      <td class='text-center'><button class='btn-info' {{action "updateEntry"}}>Update</button></td>
      <td class='text-center'><button class='btn-danger'{{action "deleteEntry"}}>Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
  </table>
</div>
